:root{
    --font: 'Verdana, Geneva, Tahoma, sans-serif'
}

@font-face {
    font-family: "Lexend";
    src: url("fonts/Lexend-Regular.ttf")
}

p {
    font-family: "Lexend";
    font-size: 18;
    color: rgba(255, 0, 0, 1);
}
h2 {
    text-align: center;
    font-family: "Lexend";
    
}

div {
    border:rgba(0, 0, 0, 1);
}

.center{
    position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.right {
    position: absolute;
    right: 0px;
    width: fit-content;
    border: 2px solid #000000;
}

.bottom_marginoffset{
    position: absolute;
    bottom: 10%;
}